<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hashmap_simple/src/hashmap_simple/hashmap_sample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hashmap_simple.hashmap_sample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hashmap_simple"/>
</launchConfiguration>
